<p>
  Sent data from parent component(create) to child component (form)
</p>


<form class="row g-3">
  <div class="col-md-4">
    <label for="inputEmail4" class="form-label">Name:</label>
    <input type="text" class="form-control"  value={{formData.name}} disabled>
  </div>
  <div class="col-md-2">
    <label for="inputPassword4" class="form-label">Age:</label>
    <input type="text" class="form-control" value={{formData.age}} disabled>
  </div>
  <div class="col-md-2">
    <label for="inputPassword4" class="form-label">Gender:</label>
    <input type="text" class="form-control"  value={{formData.gender}} disabled>
  </div>
  <div class="col-md-4">
    <label for="inputCity" class="form-label">City:</label>
    <input type="text" class="form-control"  value={{formData.city}} disabled>
  </div>
  <div class="col-md-4">
    <label for="inputState" class="form-label">State:</label>
    <input type="text" class="form-control"  value={{formData.state}} disabled>
  </div>
  <div class="col-md-4">
    <label for="inputZip" class="form-label">Country</label>
    <input type="text" class="form-control"  value={{formData.country}} disabled>
  </div>
  <div class="col-12">
    
  </div>
</form>